* {
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
}


/*------------------------------------*\
    Social Bar
\*------------------------------------*/

.social-bar {
    width: 100%;
    height: auto;
    padding: 6px;
    background-color: #FEAFBD;
    color: pink;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
    position: fixed;
    z-index: 999;
    font-size: 1.4em;
}

.social-bar a {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 6px;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {
    .social-bar {}
}


/*------------------------------------*\
    #Skrollr plugin
\*------------------------------------*/

#skrollr-body {
    height: 100%;
    overflow: visible;
    position: relative;
    z-index: 2;
}

.skrollr-parallax {
    position: fixed;
    z-index: 1;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.no-skrollr .skrollr-parallax {
    display: none !important;
}

.skrollr-parallax__image {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.skrollr-parallax__image.skrollable-between {
    display: block;
}


/*------------------------------------*\
    #Parallax-section    
\*------------------------------------*/

.parallax {
    position: relative;
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: #ccc center no-repeat;
    background-size: cover;
    overflow: hidden;
}


/* When Skrollr plugin is active remove bg image and reset bg property */

.skrollr .parallax {
    background: transparent !important;
    /* !important override inline style */
}


/**
 * Parallax-section body centered
 */

.parallax__body {
    /* centering */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.parallax__news {
    /* centering */
    display: table-cell;
    vertical-align: middle;
}


/**
 * Parallax-section title
 */

.parallax__title {
    font-size: 60px;
    line-height: 1;
    color: #fff;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}


/**
 * Parallax-section background images
 */

.parallax--img-cat1 {
    background-image: url(../images/for-web-3.png);
}

.parallax--img-cat2 {
    background-image: url(../images/for-web-4.png);
}

.container {
    height: 200%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 200%;
    &.bottom {
        top: -100%;
    }
    &.right {
        left: -75%;
    }
}

.menu_fixed_left {
    position: fixed;
    left: calc(5% - 30px);
    top: 30px;
    width: 190px;
    z-index: 2;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {
    .container {
        margin-left: -20px;
    }
    .menu_fixed_left {
        margin-left: 20px;
    }
}

ul {
    list-style-type: none;
    padding: 15px;
    font-family: 'Arial Bold', sans-serif;
    color: #ffffff;
    font-weight: bold;
    opacity: 0.5;
}

#quoteContainer {
    padding-top: 10%;
    padding-bottom: 0%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Arial Bold', sans-serif;
}

.mini-squares div {
    float: left;
    width: 15px;
    height: 15px;
}

.mini-squares div:nth-of-type(1) {
    background-color: #aea89e;
}

.mini-squares div:nth-of-type(1):hover {
    background-color: #938874;
}

.mini-squares div:nth-of-type(2) {
    background-color: #aceade;
}

.mini-squares div:nth-of-type(2):hover {
    background-color: #78c8b8;
}

.mini-squares div:nth-of-type(3) {
    background-color: #9dddee;
}

.mini-squares div:nth-of-type(3):hover {
    background-color: #6bb7cc;
}

.mini-squares div:nth-of-type(4) {
    background-color: #d2b6e5;
}

.mini-squares div:nth-of-type(4):hover {
    background-color: #a880c3;
}

.mini-squares div:nth-of-type(5) {
    background-color: #F4b3dc;
}

.mini-squares div:nth-of-type(5):hover {
    background-color: #d27db2;
}

.mini-squares div:nth-of-type(6) {
    background-color: #fbcad2;
}

.mini-squares div:nth-of-type(6):hover {
    background-color: #d9919c;
}

.mini-squares div:nth-of-type(7) {
    background-color: #aea89e;
}

.mini-squares div:nth-of-type(7):hover {
    background-color: #8c806c;
}


/*------------------------------------*\
    #Scroll-arrow
\*------------------------------------*/

.scroll-arrow {
    position: absolute;
    z-index: 3;
    /* above parallax */
    left: 50%;
    bottom: 30px;
    width: 42px;
    height: 20px;
    background: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSI5NiAxNjAgMzIwIDE5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMzk2LjYgMTYwbDE5LjQgMjAuN0wyNTYgMzUyIDk2IDE4MC43bDE5LjMtMjAuN0wyNTYgMzEwLjV6Ii8+PC9zdmc+') center no-repeat;
    margin-left: -23px;
    -webkit-transition: .25s;
    transition: .25s;
    cursor: pointer;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    opacity: .8;
    -webkit-tap-highlight-color: transparent;
    /* Hide text */
    font-size: 0;
    color: transparent;
}

.scroll-arrow:hover,
.scroll-arrow:focus {
    opacity: 1;
}

.scroll-arrow:focus {
    outline: none;
}

.scroll-arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
}


/**
 * Scroll to top (in the footer)
 */

.scroll-arrow--top {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#embeded-sc {
    width: 90%;
    max-width: 400px;
}

.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer {
    text-align: center;
    padding: 22px;
    background-color: black;
    color: white;
    font-size: 0.8em;
    line-height: 1.8em;
}
.footer p {
    opacity: 0.7;
}

.footer a {
    color: #FEAFBD;
    font-weight: 900;
    text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {
    .footer p {
        text-align: left;
    }
}
